.calories-button {
	position: fixed;
	bottom: 20px;
	left: 42%;
	width: 50px;
	height: 50px;
	border: 7px solid white;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	cursor: pointer;
	opacity: 0;
	transform: scale(0.8);
	animation: appear 0.3s ease 0.2s forwards;
	display: flex;
	justify-content: center;
}

.calories-button::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.calories-button.showing-calories-close::before {
	background-image: url('/img/buttons/close.png');
	background-size: 75%;
	opacity: 1;
	width: calc(100% - 15px);
	height: calc(100% - 15px);
}

.calories-button.showing-calories-btn::before {
	background-image: url('/img/buttons/calories.png');
	opacity: 1;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.calories-button-label {
	font-size: 11px;
	padding-top: 58px;
}

.calories-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 85%);
	backdrop-filter: blur(7px) contrast(70%);
	-webkit-backdrop-filter: blur(7px) contrast(70%);
	z-index: 107;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.calories-overlay.active {
	opacity: 1;
	visibility: visible;
}

.camera-shutter-button {
	position: fixed;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 60px;
	border: 2px solid white;
	border-radius: 50%;
	z-index: 109;

	display: flex;
	justify-content: center;
	align-items: center;
}

.camera-shutter-button-inner {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.camera-shutter-button-inner.pressed {
	background-color: rgba(255, 255, 255, 0.5);
	transform: scale(0.94);
}

.focus-rectangle {
	width: 68%;
	height: 50%;
	border: 4px dashed white;
	border-radius: 17px;
	z-index: 109;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 20px;
	margin-bottom: 150px;
}

.nutrient-buttons-container-top {
	display: flex;
	gap: 25px;
	margin-bottom: 10px;
}

.nutrient-button {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nutrient-button-outer {
	width: 55px;
	height: 55px;
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nutrient-button-inner {
	width: 40px;
	height: 40px;
	border: 2px solid white;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.nutrient-label {
	color: white;
	font-size: 12px;
	margin-top: 5px;
	text-align: center;
}
