.button-container {
	position: fixed;
	bottom: 82px;
	left: 20px;
	cursor: pointer;
	z-index: 99998;
}

.outer-circle {
	position: fixed;
	width: 58px;
	height: 58px;
	border: 1.5px solid white;
	border-radius: 50%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-circle {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 42.5px;
	height: 42.5px;
	border: 1.5px solid white;
	border-radius: 50%;
	z-index: 9999;
}

.small-circle {
	position: fixed;
	width: 12px;
	height: 12px;
	background-color: rgba(55, 55, 55, 0.7);
	border-radius: 50%;
	transform: translate(-45%, 45%);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.smileyInButton {
	position: absolute;
	padding-bottom: 3px;
}

.slider-container {
	position: fixed;
	bottom: 25px;
	left: 20px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 99999;
}

.slider {
	width: 100%;
	height: 15px;
	appearance: none;
	background: white;
	border-radius: 10px;
	border: 1.5px solid #f2f2f2;
	outline: none;
	position: relative;
}

.slider::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 15px;
	background: #eaeaea;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid white;
	position: relative;
	z-index: 9999;
	box-shadow: -100vw 0 0 100vw transparent;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: gray;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid white;
}

.slider-marks {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.slider-mark {
	width: 1px;
	height: 5px;
	background: #eaeaea;
}

.slider-mark.main {
	height: 8px;
	background: #eaeaea;
}

.label {
	position: absolute;
	transform: translateX(-50%);
	top: 1px;
}

.smiley {
	position: absolute;
	left: 0;
	bottom: 100%;
	transition: transform 0.2s ease-out;
	transform-origin: left bottom;
	visibility: hidden;
}

.slider-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 85%);
	backdrop-filter: blur(7px) contrast(70%);
	-webkit-backdrop-filter: blur(7px) contrast(70%);
	z-index: 99997;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}
.slider-overlay.active {
	opacity: 1;
	visibility: visible;
}

.state-check-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 85%);
	backdrop-filter: blur(7px) contrast(70%);
	-webkit-backdrop-filter: blur(7px) contrast(70%);
	z-index: 99997;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.state-check-overlay.active {
	opacity: 1;
	visibility: visible;
}

.state-check-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 17px;

	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.showing-close-img {
	position: absolute;
	background-image: url('/img/buttons/close.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	width: calc(100% - 35px);
	height: calc(100% - 35px);
	z-index: 99999;
}

.cloud-wrapper {
	position: fixed;
	left: -3px;
	bottom: 28px;
	display: inline-block;
	width: 200px;
	z-index: 102;
}

.cloud-image {
	width: 70%;
	height: auto;
	display: block;
}

.cloud-text {
	position: absolute;
	top: 56%;
	left: 37%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	font-weight: bold;
	color: #3c3c3c;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.state-check-label {
	font-size: 11px;
	padding-top: 81px;
}

.state-check-camera-shutter-button {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 60px;
	border: 2px solid white;
	border-radius: 50%;
	z-index: 9999999;

	display: flex;
	justify-content: center;
	align-items: center;
}

.state-check-camera-shutter-button-inner {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.state-check-camera-shutter-button-inner.pressed {
	background-color: rgba(255, 255, 255, 0.5);
	transform: scale(0.94);
}

.state-check-focus-frame {
	width: 48%;
	height: 40%;
	border: 4px dashed white;
	border-radius: 17px;
	z-index: 999999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 20px;
	margin-bottom: 150px;
}

.face-frame-container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
	pointer-events: none;
	z-index: 999999;
}
