.bottom-nav {
	position: sticky;
	bottom: 0;
	z-index: 10;
	border-top: 1.5px solid #ffffff;
	padding: 1rem;
}

.next-button {
	width: 100%;
	border-radius: 50px;
	max-width: 28rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	background-color: #ffeaff;
	font-size: 16px;
	font-weight: 600;
	color: #333;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
}

.next-button.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
