.goal-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.goal-header {
	position: sticky;
	top: 0;
	z-index: 10;
	border-bottom: 1.5px solid #ffffff;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.goal-header > *:nth-child(2) {
	flex-grow: 1;
	margin-left: 2rem;
	margin-right: auto;
	max-width: 70%;
}

.goal-main-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 4rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.goal-title {
	font-size: 1.7rem;
	font-weight: 600;
	color: #333;
	margin-bottom: 2rem;
	text-align: center;
}

.goal-button-container {
	width: 100%;
	max-width: 28rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.goal-button-container > * {
	margin-bottom: 1rem;
	width: 100%;
}

.icon-goal {
	padding: 5px;
	margin-right: 20px;
	border-radius: 50px;
	background-color: #f6f6f6;
}

.goal-text {
	font-size: 0.875rem;
	color: #666;
	text-align: center;
	max-width: 32rem;
}
